.main {
    background-image: url(pexels-dreamypixel-552784.jpg);
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .header {
    text-align: center;
    padding:5px 20px !important;
    font-size: 50px !important;
    color: white;
    font-weight: 500 !important;
}

.main .span{
    padding: 5px 20px !important;
    color: rgba(255, 255, 255, 0.597) ;
}

@media (width < 768px) {
    .main .header {
        font-size: 30px !important;
    }
}